* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --font-color: rgba(193, 193, 193, 0.6);
  --font-colorActive: rgb(253, 253, 253);
  --bar-color: rgba(202, 202, 202, 0.39);
  --font-size: 18;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

#topbar {
  width: inherit;
  height: 80px;
  min-height: 70px;
  position: relative;
  z-index: 200;
}

#topbar .more {
  width: 40px;
  height: 40px;
  background-image: url(../img/pic.png);
  background-size: 200px;
  background-position: -40px -120px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-left: 5%;
  transform: translate(0%, -50%);
  cursor: pointer;
}

#content {
  z-index: 100;
  width: inherit;
  height: 100vh;
  flex: 1;
}

#content .m-lycifo {
  width: 1000px;
  min-width: 1000px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  top: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cnt,
.m-lycifo .cvrwrap {
  width: 500px;
  min-width: 500px;
  position: relative;
}

@keyframes move {
  0% {
    transform: translate3d(-50%, -50%, 0px) rotate(0)
  }

  100% {
    transform: translate3d(-50%, -50%, 0px) rotate(360deg)
  }
}

.cvrwrap .u-cover {
  width: 380px;
  height: 380px;
  margin: 40px auto;
  position: relative;
  text-align: center;
}

.cvrwrap .u-cover::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 400px;
  height: 400px;
  margin: 0px auto;
  background-color: #fffdfd21;
  border-radius: 50%;
  z-index: -1;
}

.cvrwrap .u-cover img {
  width: 66%;
  height: 66%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  animation: move 20s linear infinite normal paused;
}

.u-cover .msk {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  background-image: url(../img/singlecover.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cvrwrap .btns-fn {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 80px;  */
  margin-bottom: 20px
}

.btns-fn>div {
  width: 40px;
  height: 40px;
}

.btns-fn>div:nth-child(2) {
  width: 70px;
  height: 70px;
  margin-left: 80px;
  margin-right: 80px;
}

.btns-fn .icon,
.file a .icon,
.main-btns .icon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btns-fn .editime {
  background-image: url(../img/pic.png);
  background-size: 200px;
  background-position: 0px -160px;
}

.btns-fn .play {
  background-image: url(../img/play.svg)
}

.btns-fn .volume {
  background-image: url(../img/pic.png);
  background-size: 200px;
  background-position: -40px 0px;
}

.btns-fn #volume {
  position: relative;
}

.btns-fn .m-vol {
  position: absolute;
  width: 150px;
  height: 30px;
  background-color: rgb(0 0 0 / 39%);
  top: 5px;
  left: 45px;
  border-radius: 15px;
  z-index: 200;
  display: none;
}

.btns-fn .m-vol .vbg {
  margin: 13px auto
}

.cnt .titl {
  font-size: 28px;
  font-weight: 700;
  font-family: sans-serif;
  color: var(--font-colorActive);
  width: 500px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cnt .artist {
  font-size: 16px;
  font-family: sans-serif;
  color: var(--font-colorActive);
  height: 40px
}

.cnt .show-content {
  width: 500px;
  height: 450px;
  display: flex
}

.show-content .lyrics-content {
  width: 95%
}

.show-content .lyrics-list {
  height: 450px;
  width: 95%;
  position: relative
}

.lyrics-list .lr-li {
  list-style: none;
  color: var(--font-color);
  font-size: 20px;
  font-family: sans-serif;
  height: 39px;
  line-height: 39px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer
}

.lyrics-list .active {
  color: var(--font-colorActive)
}

.lyrics-list .lr-li span {
  display: none;
  font-style: normal;
  cursor: text;
  -moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.lyrics-list .lr-li span:focus {
  border: none;
  outline: 0
}

.show-content .main-btns {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-btns .uploading {
  background-image: url(../img/pic.png);
  background-size: 125px;
  background-position: 0px 0px;
}

.main-btns .edit {
  background-image: url(../img/pic.png);
  background-size: 125px;
  background-position: 0px -25px;
}

.main-btns .save {
  background-image: url(../img/pic.png);
  background-size: 125px;
  background-position: 0px -50px;
}

.main-btns .overview {
  background-image: url(../img/pic.png);
  background-size: 125px;
  background-position: 0px -50px;
}

.main-btns .copy {
  background-image: url(../img/pic.png);
  background-size: 125px;
  background-position: 0px -75px;
}

.main-btns div {
  width: 25px;
  height: 25px;
}

#btmbar {
  width: 100%;
  height: 80px;
  min-height: 50px;
  padding-top: 10px;
  position: relative;
  z-index: 100;
}

#btmbar .wrap .play {
  width: inherit;
  height: 40px;
}

.wrap .play .pbar {
  display: flex;
  width: 95%;
  height: 10px;
  align-items: center;
  gap: 10px;
  color: var(--font-color);
  margin: 15px auto;
}

.pbar span {
  display: block;
  width: 45px;
  text-align: right;
  font-size: 16px;
  font-family: sans-serif
}

.pbar span:first-child {
  color: var(--font-colorActive)
}

.btns-fn .m-vol .vbg,
.play .barbg {
  width: 81%;
  height: 4px;
  background-color: var(--font-color);
  border-radius: 2px;
  flex: 1;
  cursor: pointer
}

.m-vol .vbg .curr,
.play .barbg .cur {
  width: 0%;
  height: inherit;
  border-radius: 2px;
  background-color: var(--font-colorActive);
  position: relative
}

.barbg .cur .btn,
.vbg .curr .btn {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--font-colorActive);
  position: absolute;
  top: -3px;
  right: -5px;
  cursor: pointer
}

.barbg .cur .btn:hover,
.vbg .curr .btn:hover {
  width: 14px;
  height: 14px;
  top: -5px;
  right: -7px
}

.glass-cover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(40px) brightness(64%);
  transform: scale(2)
}

.glass-bg {
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: url(../img/contentInner.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover
}

#upload-file,
.settingBox {
  box-sizing: border-box;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(142deg, #f7f7f7 0, hsl(0, 0%, 96.98%) 8%, hsl(0, 0%, 96.93%) 15.3%, hsl(0, 0%, 96.87%) 22%, hsl(0, 0%, 96.78%) 28.3%, hsl(0, 0%, 96.67%) 34.1%, hsl(0, 0%, 96.55%) 39.8%, hsl(0, 0%, 96.41%) 45.4%, hsl(0, 0%, 96.26%) 50.9%, hsl(0, 0%, 96.1%) 56.6%, hsl(0, 0%, 95.92%) 62.5%, hsl(0, 0%, 95.75%) 68.8%, hsl(0, 0%, 95.56%) 75.6%, hsl(0, 0%, 95.37%) 83%, hsl(0, 0%, 95.19%) 91.1%, #f2f2f2 100%);
  color: #658395;
  font-size: calc(var(--font-size) * 1px);
  border-radius: 15px;
  z-index: 999;
  display: none
}

#upload-file .content {
  width: 400px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.file {
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around
}

.file .des,
.more .title {
  display: inline-block;
  width: 300px;
  height: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  position: relative
}

.file .des::after,
.more .title::after {
  content: '';
  width: 200px;
  height: 2px;
  background-color: #c9e5e8;
  position: absolute;
  top: 30px;
  left: 52px
}

.file .des p,
.more p {
  width: 250px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  padding-left: 25px
}

.file a {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: linear-gradient(145deg, #ffffff2b, #ffffffe6);
  box-shadow: 5px 5px 10px #bbbbbba1, -5px -5px 10px #e2dddd5c;
  position: relative;
  margin-top: 5px
}

.file a .icon {
  width: 60px;
  height: 60px;
  fill: #abbdc8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/pic.png);
  background-size: 300px;
  background-position: -60px -60px;
}

.file a .success {
  display: none;
}

.file input {
  width: 80px;
  height: 80px;
  border: none;
  opacity: 0;
  cursor: pointer
}

.content .btn,
.content .btn:hover {
  background: linear-gradient(145deg, #ffffff3d, #eeeeeec7);
  box-shadow: 5px 5px 10px #b5b5b5a1, -5px -5px 10px #e2e2e25c
}

.content .btn {
  width: 95%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  color: #5d7377;
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 12px;
  margin-left: 15px
}

.content .btn:active {
  background: linear-gradient(145deg, #cdcece3d, #dededefc);
  box-shadow: 5px 5px 10px #bbbbbba1, -5px -5px 10px #e2e2e25c
}

.close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 15px
}

.close svg {
  width: 40px;
  height: 40px;
  fill: #597680;
  cursor: pointer
}

.hintBox {
  width: 100px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  background-color: #ffffff7d;
  color: #ffffffb3;
  font-weight: bolder;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 199
}

.settingBox {
  width: 300px;
  height: 600px;
  min-height: 500px;
  position: absolute;
  top: 20px;
  left: 0;
  transform: translate(-150%, 0);
  padding: 20px;
  display: block
}

.settingBox .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column
}

.settingBox .more {
  margin-bottom: 20px
}

.more .title {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px
}

.more .title::after {
  top: 34px;
  left: 32px
}

.more p {
  padding-left: 10px;
}

/* pc width > 1024px */
/* ipad pro */
@media screen and (max-width: 1024px) {
  .content .m-lycifo {
    gap: 20px;
  }
}

/* ipad */
@media screen and (max-width: 1000px) {
  .cnt {
    display: none;
  }
}

/* iphone6 7 8 plus */
@media screen and (max-width: 414px) {}

/* iphoneX */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {}

/* iphone6 7 8 */
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 2) {}

/* iphone5 */
@media screen and (max-width: 320px) {}