@import 'base';
@import 'device';

.upload_box {
  width: 350px;
  height: 250px;
  opacity: 0;
  background-color: $mm-color;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  color: $bg-01;
  overflow: hidden;

  // animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: scale 0.2s ease-out 1 forwards;

  // 关闭图标
  .upload_close {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;

    background-image: url(../img/close.png);
    background-size: cover;
  }
}

// 显示动画
@keyframes scale {
  0% {
    width: 350px;
    height: 250px;
    opacity: 0;
  }

  100% {
    width: Max(500px, 36vw);
    height: 400px;
    opacity: 1;
  }
}

.upload_box_contain {
  width: Max(350px, 100%);
  height: Max(250px, 100%);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0 14%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .file {
    width: 100%;
    height: 32%;
    display: flex;
    align-items: center;
    // margin: 20px auto 0;
  }
}

.way_change_contain {
  width: 100%;
  height: 32%;
  overflow: hidden;

  .file {
    width: 100%;
    height: 100%;
  }
}

.music_way {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  p {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    cursor: default;

    span {
      font-weight: 700;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// 上传图标
.upload_file {
  position: relative;
  background: $l-color;
  border-radius: 10px;
  opacity: 0.8;
  transition: all 0.4s ease;
  margin-right: 20px;

  &:hover {
    opacity: 1;
  }

  input {
    width: 80px;
    height: 80px;
    border: none;
    opacity: 0;
    cursor: pointer;
  }

  .upload_icon {
    width: 60px;
    height: 60px;
    fill: $bg-01;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/pic.png);
    background-size: 300px;
    background-position: -60px -60px;
  }

  .upload_success {
    background-position: -60px -120px;
  }
}

.file_des {
  overflow: hidden;

  label,
  p {
    white-space: nowrap;
  }

  p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.upload_button {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  cursor: pointer;

  font-size: 18px;
  letter-spacing: 20px;
  font-weight: 700;

  background-color: $l-color;
  opacity: 0.8;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }
}