.volume_box {
  width: 35px;
  transform: rotateZ(-90deg) translate(16%, 64%);
  transform-origin: 0 center;
  position: absolute;
  opacity: 0;
}

.volume_contain {
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  background-color: #ffffff4f;
  border-radius: 100px;
}