@import '@/assets/scss/device';

.upload_glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black-110);
}

.upload_box {
  width: 480px;
  height: 300px;
  background-color: var(--bg-white-100);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 20;
  color: var(--bg-cyan-100);

  // 关闭图标
  .upload_close {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 3px;
    right: 3px;
    cursor: pointer;
    z-index: 20;
  }
}

.upload_box_contain {
  width: max(400px, 100%);
  height: max(300px, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 6%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .file {
    width: 100%;
    height: 32%;
    display: flex;
    align-items: center;
    // margin: 20px auto 0;
  }
}

.way_change_contain {
  width: 100%;
  height: 32%;
  overflow: hidden;

  .file {
    width: 100%;
    height: 100%;
  }
}

.music_way {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  p {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    cursor: default;

    span {
      font-weight: 700;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// 上传图标
.upload_file {
  position: relative;
  background: var(--l-color);
  border-radius: 10px;
  opacity: 0.8;
  transition: all 0.4s ease;
  margin-right: 20px;

  &:hover {
    opacity: 1;
  }

  input {
    width: 80px;
    height: 80px;
    border: none;
    opacity: 0;
    cursor: pointer;
  }
}

.file_des {
  overflow: hidden;

  label,
  p {
    white-space: nowrap;
  }

  p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.upload_button {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  cursor: pointer;

  font-size: 18px;
  letter-spacing: 20px;
  font-weight: 700;

  background-color: var(--l-color);
  opacity: 0.8;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }
}