@import '@/assets/scss/device';

.cvrwrap {
  flex: 1;
  height: 100%;
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include ll {
    display: none;
  }
}

// 唱片滚动
.u_cover {
  width: 380px;
  height: 380px;
  margin: 64px auto;
  position: relative;
  text-align: center;

  @include ss {
    width: 80vw;
    height: 80vw;
  }

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 400px;
    height: 400px;
    margin: 0px auto;
    background-color: var(--bg-white-400);
    border-radius: 50%;
    z-index: -2;

    @include ss {
      width: 85vw;
      height: 85vw;
      top: -2.5vw;
      left: -2.5vw;
    }
  }

  .cover_img {
    width: 66%;
    height: 66%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    animation: move 20s linear infinite normal paused;
  }

  .cover_img_scroll {
    animation-play-state: running;
  }

  .msk {
    display: block;
    width: inherit;
    height: inherit;
    background-image: url(/assets/img/singlecover.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes move {
  0% {
    transform: translate3d(-50%, -50%, 0px) rotate(0)
  }

  100% {
    transform: translate3d(-50%, -50%, 0px) rotate(360deg)
  }
}

// 按钮
.btns_handle {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  &>div {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s;

    &:nth-child(2) {
      width: 70px;
      height: 70px;
      margin: 0 80px;

      @include ss {
        margin: 0 16vw;
      }
    }

    &:hover {
      background-color: var(--bg-white-500);
    }
  }

  .icon {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    z-index: 10;
  }

  .edit_history {
    background-image: url(/assets/img/pic.png);
    background-size: 200px;
    background-position: 0px -160px;
  }

  .play_pause {
    background-image: url(/assets/img/pic.png);
    background-size: 350px;
    background-position: -140px 0px;
  }

  .play_active {
    background-position: -210px 0px;
  }

  .volume_ctr {
    background-image: url(/assets/img/pic.png);
    background-size: 200px;
    background-position: -40px 0px;
  }
}